body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: white;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

div {
  background-color: #E4F9F5;
  size: 100px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#EAF6F6;
}

hr{
  border-color: #EAF6F6;
  border-width: 6px;
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  background-color: white;
  margin: auto;
}



p{
  line-height: 2;
}

/*********** CLASS SELECTORS**************/

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px 0;
  background-color: white;
}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}


.personal-foto {
  border-radius: 50%;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.job{
  font-weight: normal;
}

.skills {
  background-color: white;
}

.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  text-align: left;
  padding-bottom: 100px;
  background-color: white;
}

.skill-title{
  background-color: white;

  margin:0;
  padding:32px;
}

.mba-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.rd-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.profile{
  line-height: 2;
  margin: auto;
  background-color: white;
}

.profile-description{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}

.contact-me{
  background-color: white;
  margin-bottom: 100px;

}

.contact-message{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0; 
}

.contact-header{
  margin:0;
  padding-top: 100px;
  padding-bottom: 50px;
}

.BUTTON_GZI {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 5px;
   line-height: 5px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 150px;
   font-size: 20px;
   font-weight: 200;
   padding: 20px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_GZI:hover {
   border: solid #2BC4AD 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
